Flask==3.0.0
networkx==3.5
pyvis==0.3.2
fastapi
uvicorn
requests
together==1.5.16
aiofiles
aiolimiter
anthropic
fuzzywuzzy
openai
python-Levenshtein
sqlmodel
tiktoken
transformers
numpy
psutil
spacy
async-timeout
python-decouple
ruff
aiosqlite
sqlalchemy
termcolor
google-genai
uvicorn[standard]
python-dotenv